body {
  background: #fff;
  color: #333; }

.container > .row > div {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #333;
  border: 4px solid #ffffff;
  color: #ffffff; }
  .container > .row > div .te {
    background: #ccc; }
  .container > .row > div .se {
    background: #F230C2; }
    .container > .row > div .se a {
      color: #fff; }
      .container > .row > div .se a:hover {
        color: green; }
      .se .container > .row > div .se a {
        color: #999; }
